.container {
    width: 800px;
    min-height: 900px;
    border: 7px solid white;
    margin: 50px auto;
    background: url(https://i.pinimg.com/originals/17/98/99/1798991b6c04db0156998215aa4c73de.jpg);
    padding: 50px;
    font-family: Impact, fantasy;
    text-align: right;
}

header {
    display: flex;
    font-size: 50px;
    font-style: bold;
}

.image {
   width: 100px;
}

.info {
    font-size: 20px;  
}
